<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Gestion des utilisateurs </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="container mt-3">
            <h2>Gestion des utilisateurs</h2>
        
            <!-- Formulaire pour ajouter un nouvel utilisateur -->
            <div class="mb-4">
                <h4>Ajouter un utilisateur</h4>
                <form (ngSubmit)="addUser(addUserForm.value)" #addUserForm="ngForm">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" ngModel name="username" class="form-control" placeholder="Nom d'utilisateur" required>
                        </div>
                        <div class="col">
                            <input type="email" ngModel name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="col">
                            <input type="password" ngModel name="password" class="form-control" placeholder="Mot de passe" required>
                        </div>
                        <div class="col">
                            <select [(ngModel)]="selectedRole" ngModel name="role" class="form-control">
                                <option value="ROLE_USER">Utilisateur</option>
                                <option value="ROLE_MODERATOR">Modérateur</option>
                                <option value="ROLE_ADMIN">Admin</option>
                            </select>
                        </div>
                        <div class="col" *ngIf="selectedRole === 'ROLE_USER'">
                            <select [(ngModel)]="selectedModeratorId" ngModel name="moderatorId" class="form-control">
                                <option *ngFor="let mod of moderators" [value]="mod.id">{{ mod.username }}</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success" [disabled]="!addUserForm.valid">Ajouter</button>
                        </div>
                    </div>
                </form>
            </div>
        
            <!-- Tableau des utilisateurs existants pour la mise à jour ou suppression -->
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Nom d'utilisateur</th>
                        <th>Email</th>
                        <th>Rôles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>
                            <input type="text" [(ngModel)]="user.username" name="username{{user.id}}" class="form-control">
                        </td>
                        <td>
                            <input type="email" [(ngModel)]="user.email" name="email{{user.id}}" class="form-control">
                        </td>
                        <td>
                            <select [(ngModel)]="user.selectedRole" (change)="updateRole(user, user.selectedRole)" class="form-control">
                                <option *ngFor="let role of allRoles" [value]="role">{{ role }}</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="updateUser(user)">Modifier</button>
                            <button class="btn btn-danger" (click)="deleteUser(user)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        
            
        

    </div>
  </div>


   
       















