/*.container {
    background-image: url('https://www.groupebcp.com/fr/PublishingImages/GBP_Filiales/BCP-BANK-MAURICE.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }*/