<mat-nav-list>
  <div class="logo py-4" style="text-align: center; padding: 2.6rem 1rem;">
    <img src="./assets/bcpt1.png" alt="Company Logo" style="width: 200px;">
  </div>
  <mat-divider style="border-top-width: 2px; border-color: white;"></mat-divider>
  <h2 matSubheader style="color: #818cf8; font-size: 0.6rem; font-weight: 100; letter-spacing: 1px;" class="mt-2">APPLICATIONS</h2>

  
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;" routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;" routerLinkActive="list-item-active" routerLink="/admin-board">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">admin_panel_settings</mat-icon> Admin-Board
  </a>
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;" routerLinkActive="list-item-active" routerLink="/profile">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">person</mat-icon> Profile
  </a>
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;" routerLinkActive="list-item-active" routerLink="/project-management">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">assessment</mat-icon> Projets
  </a>
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;" routerLinkActive="list-item-active" routerLink="/affectation">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">link</mat-icon> Affectation
  </a>
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;" routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">home</mat-icon> Home
  </a>
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;" routerLinkActive="list-item-active" routerLink="/user">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">supervisor_account</mat-icon> User
  </a>

  <!-- Répétez pour les autres liens -->
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">edit</mat-icon> Link 3
  </a>
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">edit</mat-icon> Link 4
  </a>
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">edit</mat-icon> Link 5
  </a>
  <a mat-list-item style="color: #94a3b8; font-size: 0.8rem; height: 44px; margin-bottom: 4px;">
    <mat-icon style="vertical-align: middle; margin-right: 1rem;">edit</mat-icon> Link 6
  </a>
  <!-- Ajoutez plus de liens selon le besoin -->
</mat-nav-list>
